*{
    padding:0;
    margin: 0;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    padding: 20px;
    /*Photo by Jess Bailey Designs: https://www.pexels.com/photo/photo-round-buttons-on-white-surface-1157804/*/
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.2) 0 100%), url('../images/pexels-jess-bailey-designs-1097930.rotated.jpg');
    background-repeat:no-repeat;
    background-size:cover;
}

#fondo {
    position: relative;
    top:0;
    left:0;
    width: 21cm;
    z-index: -1;
}
header {
    text-align: center;
    /* margin-top: 1em; */
    /* padding-top: 10px; */
}

h1,h2.blue { 
    color: white;
    background-color: #003965;
    padding: 0.1em 0;
    clear:both;
}

h2 { font-size: 1.2em;
    text-align: center;
    margin:1em 0 .5em 0;
}

section.page {
    height: 27.5cm;
    width: 21cm;
    padding: 2.5cm 1.5cm 2cm 2cm;
    margin:1cm auto;
    background-color: aliceblue;
    /* background-image: linear-gradient(to right, rgba(255,255,255, 0.8) 0 100%), url('https://png.pngtree.com/58pic/32/59/61/74658PICXa7M6a6CKyrE6_PIC2018.jpg'); */
    background-image: linear-gradient(to right, rgba(248, 254, 255, 0.9) 0 100%), url('../images/arrugado.png');

    background-repeat: no-repeat;
    background-size: cover;
}

section.page:hover {
    box-shadow : 0 0 20px 2px #003965;
}

.upper {
    margin-top: 1em;
}


.bottom {
    margin-bottom: 1em;
}
.left {
    float:left;
    width: 49%;
    /* border:1px solid red; */
    height: 1.1em;
}
.right {
    text-align: right;
    float:right;
     width: 49%;
     /* border: 1px solid orange; */
     height: 1.1em;
}
.long {
    width: 80%;
}
.short {
    width:18%;
}
/* div.space {
    clear:both;
    height: 1.1em;
    width: 21cm;
    border:1px solid blue;
} */
ul {
    clear:both;
}

footer {
    position: relative;
    right: 1cm;
    top: 1cm;
    text-align: right;
    /* margin-top: 4em; */
}