@font-face {
    font-family: titleFont;
    src: url(../fonts/natural_technologies.ttf);
    /* font-weight:bolder; */
 }
          
 body { 
   /* background-image : linear-gradient(to right, rgba(248, 254, 255, 0.5) 0 100%), url('https://i.pinimg.com/736x/7d/09/a9/7d09a961bf7dd1d28252288c58b54b5d.jpg') ; */
    background-image :url(https://theopensecurity.com/media/143-article-jpg/) ;
    background-repeat:no-repeat;
    background-size:cover;
    /* background-color: rgb(201, 241, 254); */
    background-attachment:fixed ;
    /* background-position: 100% 0; */
    margin-left: 1em;
    padding:0;
    }
    
    .page { 
    /* padding: 1.5em ; */
    /* border: 1px solid maroon ; */
    width:70% ;
     /* height: 740px; */
    /* margin: 2em 0 0 2em; */
    /* background: rgba(255,255,255,0.8); */
    /* box-shadow: 0px 0px 200px 100px white; */
    /* padding-bottom: 10%; */
      /* overflow: scroll;  */
    }

 @media only screen and (max-width: 1024px) and (orientation:portrait) {
    body {
       background-image :url(https://img.wallpapersafari.com/phone/750/1334/31/67/NG82fm.jpg) ;
       background-size: cover;
    }
    .page {
       width:100%;
    }
 }
 /* @media only screen and (min-width: 1080px) and (max-width: 1440px) and (orientation: portrait) {
    body {
       background-image :url(https://img.wallpapersafari.com/phone/750/1334/31/67/NG82fm.jpg) ;
       background-size: auto 100%;
    }
 } */

 
    
    /* For the different section backgrounds (use clip property here): https://static.vecteezy.com/system/resources/previews/000/589/334/non_2x/vector-set-of-flower-border.jpg */
 
 .sub {
    border-radius: 10px;
    background-color: rgb(5, 5, 5);
    opacity: 0.8;
    box-shadow: 0 0 100px 10px rgb(102, 102, 102) inset;
    padding: 1em 2em 1em;
    margin:2em;
    /* border-width: .1em; 
    border-style: inset;*/
 }

 .general {
    background-color: rgba(9, 9, 9, 0.8) ;
    box-shadow: 0 0 100px 10px rgb(32, 32, 21) inset;
 }

 h1 { 
    font-family: titleFont ;
    font-size:3em;
    letter-spacing: .2em;
    padding-left: 1em;
    text-align: center;
    color: whitesmoke;
    text-shadow: 2px 2px 5px rgb(70, 107, 111);
    }

 #others {
    padding-left: 1em;
    margin: 2em 1em;
 }

 /* h2 {margin-top: 1.5em; } */
 h2, h3, h4, h5 {
    font-family: 'Courier New', Courier, monospace;
    color:rgb(247, 253, 245);
 }

 h5 {
    font-size: 1.2em;
 }
 .inline {
    display: inline;
    /* padding-top: 1em; */
 }

 .tecBasica {
    
 }
 .tecBasica h2 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* background-color: rgb(249, 250, 248);
    box-shadow: 0 0 100px 10px rgb(200, 253, 179) inset; */
    color: grey;
 }
 .tecBasica h3 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* background-color: rgb(249, 250, 248);
    box-shadow: 0 0 100px 10px rgb(200, 253, 179) inset; */
    color: grey;
 }
 .tecBasica a {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* background-color: rgb(249, 250, 248);
    box-shadow: 0 0 100px 10px rgb(200, 253, 179) inset; */
    color: rgb(104, 104, 48);
 }

 
 
 a { 
    color: rgb(251, 236, 75);
     text-decoration:none ;
     font-family:Verdana, Geneva, Tahoma, sans-serif;
 }
  a:active{
    color: red;
  }

  a:hover {
    color:darksalmon;
  }
  a:visited{
    color:rgb(180, 211, 251)
  }

 ul {
    list-style: none;
 }
 
 li {
    line-height: 1.5em;
    }
 
 ul li.spanish::before {
    content: "🇪🇸";
 }

 ul li.english::before {
    content: "🇬🇧"
 }

 /* ul li.curso:after {
    content:"💬"
 } */

 footer { 
    color:white;
    text-align: center ;
 }
 